<head>
  {% load static %}
  <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $("select").formSelect();
    });
  </script>
  <!-- Compiled and minified CSS -->
  <meta name="viewport" content="width = device-width, initial-scale = 1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<body>
  {%block nav%}
  <div class="navbar-fixed">
    <nav class="cyan darken-4">
      <div class="nav-wrapper">
        <a href="{% url 'all_blogs' %}" class="brand-logo">BlogApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'all_blogs' %}">Home</a></li>
          {% block custom-nav %}{% endblock %}
        </ul>
      </div>
    </nav>
  </div>
  {%endblock%}

  <main style="min-height: 65vh">{%block content%} {%endblock%}</main>
  <br />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
<br /><br /><br /><br />
{% block footer %}
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">BlogApp</h5>
        <p class="grey-text text-lighten-4">
          A safe place to share your ideas and thoughts.
          <br />Write Anonymously or with a Pen name, We are here to read.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://github.com/CyanGirl/Django-BlogApp"
              >Contribue</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://github.com/CyanGirl"
              >Other Projects</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Cyan
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
{% endblock %}
